@import "../base/variables.scss";
@import "../base/mixins.scss";

// Button
.Button {
  position: relative;
  width: $buttonSize;
  height: $buttonSize;
  background-color: $blue;
  border-radius: $buttonSize / 2;
  box-shadow: 0px 3px 4px 0px #D6D3D3;
  transition: $transitionDelay;

  &:before, &:after {
    content: '';
    cursor: pointer;
    position: absolute;
    border-radius: $buttonSize / 2;
  }

  // Animation other
  &:before {
    @include center();
    width: 0;
    height: 0;
    background-color: $blueDark;
    transition: $transitionDelay;
  }

  // Icon
  &:after {
    left: 0;
    top: 0;
    width: $buttonSize;
    height: $buttonSize;
    background-image: url(imgs/icons.png);
    background-size: $buttonSize;
    background-repeat: no-repeat;
  }

  &:active, &:hover{
    &:before {
      content: '';
      width: 100%;
      height: 100%;
    }
  }

  // BUTTON TRANSPARENT
  &.Button_transparent {
    background-color: transparent;

    &:before {
      background-color: $white;
      transition: $transitionDelay * 2;
    }
  }

  &.Button_next:after {
    background-position-y: -50px;
  }

  &.Button_random:after {
    background-position-y: -250px;
  }

  &.Button_printerest:after {
    background-position-y: -100px;
  }

  &.Button_twitter:after {
    background-position-y: -150px;
  }

  &.Button_facebook:after {
    background-position-y: -200px;
  }

  //BUTTON TEXT
  // TODO faire un meilleur button
  &.Button_text {
    z-index: 1;
    width: auto;
    height: auto;
    padding: $margin / 1.2 $margin * 3;
    border-radius: $margin * 3;
    font-size: 1.3em;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid $blueDark;
    color : $blueDark;
    font-family: 'bellotaregular';
    overflow: hidden;

    &:hover {
      padding-top: ($margin / 1.2) * 0.4;
      padding-bottom: ($margin / 1.2) * 1.6;

      &:before {
        // width: $margin * 25;
        // height: $margin * 25;
        // border-radius: $margin * 25;
        width: 0;
        height: 0;
      }
    }
    &:after {
      background: none;
    }
    &.active {
      transition: $transitionDelay * 2;
      opacity: 0;
      margin-top: $margin;
      &:before {
        transition: $transitionDelay * 4;
        width: $margin * 25;
        height: $margin * 25;
        border-radius: $margin * 25;
      }
    }
  }
  // TODOEND
}
