@import "../base/variables.scss";

// Button
.Button {
  position: relative;
  width: $buttonSize;
  height: $buttonSize;
  background-color: $blue;
  border-radius: $buttonSize / 2;
  box-shadow: 0px 3px 4px 0px #D6D3D3;
  transition: $transitionDelay;

  &:before, &:after {
    content: '';
    position: absolute;
    border-radius: $buttonSize / 2;
  }

  // Animation other
  &:before {
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    background-color: $blueDark;
    transition: $transitionDelay;
  }

  // Icon
  &:after {
    left: 0;
    top: 0;
    width: $buttonSize;
    height: $buttonSize;
    background-image: url(imgs/icons.svg);
    background-size: $buttonSize;
    background-repeat: no-repeat;
  }

  &:active, &:hover{
    &:before {
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  // BUTTON TRANSPARENT
  &.Button_transparent {
    background-color: transparent;

    &:before {
      background-color: $or;
    }
  }

  &.Button_next:after {
    background-position-y: -50px;
  }

  &.Button_printerest:after {
    background-position-y: -100px;
  }

  &.Button_twitter:after {
    background-position-y: -150px;
  }

  &.Button_facebook:after {
    background-position-y: -200px;
  }
}
