@import "../base/variables.scss";

.Dashboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-commands {
    position: absolute;
    margin-top: $margin * 4;
    left: 50%;
    transform: translateX(-50%);
  }

  &-popUp {
    margin-left: 200%;
  }
}
