@import "../base/variables.scss";
@import "../base/mixins.scss";

.Dashboard {
  @include center();
  z-index: 1;
  width: 30%;
  height: 50%;

  &-commands {
    @include centerX();
    bottom: 0;
    opacity: 0;
  }

  &-popUp {
    display: none;
  }

  // ##
  // RESPONCIVE
  @include mobile {
    &-popUp {
      // width: 100%;
      // right: 0;
      // top: auto;
      // bottom: 0;
      // transform: none;
    }
  }

  @include desktop {
    &-popUp {
      display: block;
      @include centerY();
      right: 0;
      opacity: 0;
    }
  }
}
