@import "../base/variables.scss";
@import "../base/mixins.scss";

.Dashboard {
  @include center();
  width: 40%;
  height: 50%;

  &-commands {
    @include centerX();
    bottom: -10%;
  }

  &-popUp {
    @include centerY();
    width: 25%;
    right: -22%;
  }
}
