@import "../base/variables.scss";
@import "../base/mixins.scss";

.Header {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  // HEADER
  &-header {
    padding-top : $margin * 5;
    text-align: center;
  }
  &-logo {
    width: $buttonSize;
  }

  &-logo, &-title, &-subtitle {
    opacity: 0;
    line-height: 2em;
  }

  // BTN START
  &-btnStart {
    @include center();
    z-index: 9;
    margin-top: $margin * 5;
    opacity: 0;
  }


  // FOOTER
  &-footer {
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: -2px;
  }
}

.HeaderFooter {
  text-align: center;
  color: $or;
  background-image: url(imgs/footer.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;

  &-shares {
    @include centerX();
    display: flex;
    flex-direction: row;
    bottom: 60px;
    height: $buttonSize;
  }

  &-button {
    position: relative;
    width: $buttonSize;
    height: $buttonSize;
  }

  & .Button {
    position: absolute;
    top: $buttonSize/2;
    left: 0;
    opacity: 0;
  }
}
