@import "../base/variables.scss";

.PopUp {
  position: absolute;
  width: 300px;
  background-color: $white;
  border-top-left-radius: $margin / 2;
  border-top-right-radius: $margin / 2;

  &-header {
    padding: $margin / 2;
    background-color: $blue;
    border-top-left-radius: $margin / 2;
    border-top-right-radius: $margin / 2;
    color: $white;
    text-align: center;
  }

  &-sliderName {
    color: $blue;
    font-size: 0.8em;
  }
}
