@import "../base/variables.scss";
@import "../base/mixins.scss";


// ####
// SECTION
.Section {
  margin: $margin * 4 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &_beige {
    background-color: $beige;
  }

  &_bandeau {
    width: 100%;
  }

  // ####
  // CONTAINERS
  &-container {
    @include container;
  }

  &-img, &-text {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    margin: $margin * 2 0;
  }

  &-text_left {
    text-align: right;

    .Section-line {
      margin-left: 80%;
    }
  }

  &-text_full {
    width: 100%;
    text-align: center;

    .Section-line {
      margin: 20px auto;
    }

    .Section-paragraphe {
      width: 50%;
      margin: auto;
    }
  }

 // ####
 // LINE - PARAGRAPHE
  &-line {
    margin: 20px 0;
    width: 20%;
    height: 1px;
    background-color: $blue;
  }

  &-paragraphe {
    font-size: 0.9em;
    color: $blue;

    strong {
      font-family: 'santanabold';
    }
  }

  // ####
  // PROFILS
  &-profils {
    margin: auto;
  }
  &-profil {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    margin: 2% 0;
  }

  // ##
  // RESPONCIVE
  @include mobile {

    // CONTAINERS
    &-container_imgtext {
      display: flex;
      flex-direction: column-reverse;
    }

    &-img, &-text {
      width: 100%;
      text-align: center;
    }

    &-line {
      margin: 20px auto;
    }

    // PROFILS
    &-profil {
      width: 49%;
    }
  }
}
