html, body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height : 100%;
	color: #f3f3f4;
}

header {
	position : fixed;
	top : 10px;
	left : 10px;
	z-index : 1;
}

.texture {
	float: left;
	margin : 10px;
	border : 1px solid black;
}
