

/**
 * Colors
 */

$white: #FEFFFF;

$grey: #C6D3DB;

$beigeLight: #FEFBF4;
$beige: #FEF4E8;
$beigeDark: #FFE9D0;

$blueLight: #8E96B4;
$blue: #808AAD;
$blueDark: #5B5F89;

$or : #e0bc5d;


/**
 * ..
 */

 $transitionDelay: 0.2s;

 /**
  * Sizes
  */

 $margin: 12px;
 $slideHeight: 2px;
 $buttonSize: 50px;
 $popUpArrowSize : 15px;

 /**
  * Responcive
  */

$mobileMaxWidth : 480px;
$descktopMinWidth : 1024px;
