

/**
 * Colors
 */

$white: #FEFFFF;

$grey: #C6D3DB;

$beige: #FEFBF4;
$beigeDark: #FEF4E8;

$blueLight: #8E96B4;
$blue: #808AAD;
$blueDark: #5B5F89;

$or : #e0bc5d;


/**
 * ..
 */

 $transitionDelay: 0.2s;

 /**
  * Sizes
  */

 $margin: 12px;
 $slideHeight: 2px;
 $buttonSize: 50px;
 $popUpArrowSize : 15px;
